<section id="formcontent" class="panel">
    <div class="panel-body">
        <div class="form-horizontal form-bordered">
            <form id="balanceform">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="w4-username">Select <span class="required">*</span></label>
                    <div class="col-sm-4">
                        <select id="LibItemId" name="LibItemId" data-plugin-selecttwo
                                required class="form-control populate" data-placeholder="Select">
                            <option></option>
                            @foreach (var item in ViewBag.LibItems)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="baldiv">

                </div>


                <input type="hidden" id="TbName" name="TbName" value="@ViewBag.TbName">
                <input type="hidden" id="PkName" name="PkName" value="@ViewBag.PkName">
            </form>
        </div>


    </div>

    <footer class="panel-footer">
        <div id="SaveBtnDiv" class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <button id="SaveForm" class="btn btn-primary">Submit</button>
                <a id="ResetForm" href="@Url.Content("~/Home")" class="btn btn-default">Reset</a>
            </div>
        </div>
    </footer>
</section>

