@model List<EasyFreight.Models.City>
@{
    ViewBag.Title = "CityLibrary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>Cities Library</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Content("~/Home/Index")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Master Data</span></li>
            <li><span>Cities Library</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div class="row">
    <div class="col-xs-12">
        <section id="AddForm" class="panel" style="display: none;">
            <header class="panel-heading">
                <div class="panel-actions">
                </div>

                <h2 class="panel-title"></h2>
            </header>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" id="Form1">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Select country</label>
                        <div class="col-md-6"> 
                            <select data-plugin-selecttwo class="form-control populate" 
                                    data-placeholder="Select Country" required id="ddlCountry">
                                <option></option>   
                                @foreach (var item in ViewData["CountryList"] as Dictionary<int, string>)
                                {
                                <option  countryId="@item.Key" value=@item.Key>@item.Value</option>
                                }                              
                             </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">City Name English <span class="required">*</span></label>
                        <div class="col-md-6">
                            <input type="text" required class="form-control" id="CityNameEn"   name="CityNameEn" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault" >City Name Arabic <span class="required">*</span></label>
                        <div class="col-md-6">
                            <input type="text" required class="form-control" id="CityNameAr"   name="CityNameAr">
                        </div>
                    </div>

                    <input type="hidden" name="CountryId" id="CountryId" value="0" />
                    <input type="hidden" name="CityId" id="CityId" value="0" />

                </form>
            </div>

            <footer class="panel-footer">
                <div id="SaveBtnDiv" class="row" style="display: none;">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button id="SaveForm" class="btn btn-primary">Submit</button>
                        <button id="ResetForm" class="btn btn-default" type="reset">Reset</button>
                    </div>
                </div>
            </footer>

        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                </div>

                <h2 class="panel-title"></h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-md">
                            <button id="addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div id="tbContent">
                @Html.Partial("~/Areas/MasterData/Views/CountryLibrary/_CityTable.cshtml")
                    </div>
            </div>
        </section>
    </div>
</div>
<input type="hidden" id="DelCityId" value="0" />


<div id="dialog" class="modal-block mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary modal-confirm">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>



@section scripts{
    <script src="@Url.Content("~/Scripts/MasterData/CityLibrary.js")"></script>
}