@*@model EasyFreight.ViewModel.InvoiceVm*@
@model dynamic
<div class="table-responsive">
    <table class="table invoice-items" id="invdetails">
        <thead>
            <tr class="h4 text-dark">
                <th id="cell-id" class="text-semibold">#</th>
                <th id="cell-item" class="text-semibold">Item</th>
                <th id="cell-price" class="text-center text-semibold">Price</th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1, totalIndex = 0;}
            @foreach (var item in Model.OperationCostAccVms)
            {
                
                <tr>
                    <td>@index</td>
                    <td class="text-semibold text-dark">@item.CostName</td>
                    <td class="text-center">@item.CurrencySign @item.SellingRate</td>
                </tr>
                index++;
            }

        </tbody>
    </table>
</div>
<div class="invoice-summary">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
            <table class="table h5 text-dark">
                <tbody>
                    @*<tr class="b-top-none">
                        <td colspan="2">Subtotal</td>
                        <td class="text-left">$73.00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Shipping</td>
                        <td class="text-left">$0.00</td>
                    </tr>*@
                    @foreach (var item in Model.OperationCostTotalAccVms)
                    {
                        <tr class="h4">
                            <td colspan="2">Grand Total (@item.CurrencySign)</td>
                            <td class="text-left"> @item.TotalSellingRate
                                <input type="hidden" name="InvoiceTotals[@totalIndex].CurrencyId" value="@item.CurrencyId">
                                <input type="hidden" name="InvoiceTotals[@totalIndex].TotalAmount" value="@item.TotalSellingRate">
                                <input type="hidden" name="InvoiceTotals[@totalIndex].CurrencySign" value="@item.CurrencySign">
                            </td>
                        </tr>
                        totalIndex++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>