@model List<EasyFreight.ViewModel.QuotationContainerVm>

@{
    int index = 0;
    int lastIndex = Model.Count() - 1;
}

<div class="row contactform form-template" style="display: none;">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Container Type</label>
            <select name="QuotationContainers[-1].ContainerTypeId"
                 class="form-control populate" data-placeholder="Select">
                <option></option>
                @foreach (var item in ViewBag.ContainerList)
                {
                    <option  value="@item.Key" >@item.Value</option> 
                }
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label">Number Of Containers</label>
            <input type="text" name="QuotationContainers[-1].NumberOfContainers" class="form-control onlyNumbers">
        </div>
    </div>

    <div class="col-sm-1" style="margin-top: 30px">
        <div class="form-group">
            <label class="control-label"></label>
            <a class="on-default remove-contact" href="javascript:void(0)"><i class="fa fa-trash-o fa-2x"></i></a>
        </div>
    </div>

    <input type="hidden" name="QuotationContainers[-1].QuoteId" />
</div>
@foreach (var item in Model)
{
    <div class="row contactform">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">Container Type</label>
                <select name="QuotationContainers[@index].ContainerTypeId" data-plugin-selecttwo
                    required class="form-control populate" data-placeholder="Select">
                    <option></option>
                    @foreach (var item1 in ViewBag.ContainerList)
                    {
                        if (item.ContainerTypeId == item1.Key)
                        {
                        <option  value="@item1.Key" selected >@item1.Value</option> 
                        }
                        else
                        { <option  value="@item1.Key">@item1.Value</option>}
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Number Of Containers</label>
                <input type="text" name="QuotationContainers[@index].NumberOfContainers" 
                    class="form-control onlyNumbers" required value="@item.NumberOfContainers">
            </div>
        </div>

        @if (index > 0)
        { 
            <div class="col-sm-1" style="margin-top: 30px">
                <div class="form-group">
                    <a class="on-default remove-contact" href="javascript:void(0)"><i class="fa fa-trash-o fa-2x"></i></a>
                </div>
            </div>
        }
        <input type="hidden" name="QuotationContainers[@index].QuoteId" value="@item.QuoteId" />
    </div>
        index++;
}
<div class="form-group">
    <div class="col-sm-offset-10 col-sm-2">
        <a href="javascript:void(0)" lastIndex="@lastIndex" class="btnAdd">Add Container</a>
    </div>
</div>

