@model EasyFreight.Models.OperationView
@{
    Layout = null;
    ViewBag.Title = "PrintShippingDeclV";
   // Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PrintLayout</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme-custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/font-awesome/css/font-awesome.min.css")" />
        
</head>
<body>
    <div id="wrap">
        <div id="header" class="col-xs-12">
            <div class="col-xs-6">
                <img src="@Url.Content("~/images/EnglishLogo.png")" height="100" width="250" />
            </div>
            <div class="col-xs-6" style="text-align: right;">
                <img src="@Url.Content("~/images/ArabicLogo.png")" height="100" width="250" />
            </div>
        </div>


        <div id="main">


<div id="shippingdeclmodal" class="modal-block modal-block-lg" style="min-height:1200px;">
    <section class="panel">
        @*<header class="panel-heading">
            <h2 class="panel-title">Shipping Declaration</h2>
            <div class="panel-actions">
            </div>
        </header>*@
        <div class="panel-body">
            <div class="modal-wrapper">
                <div id="shippingdeclcontent" class="modal-text">
                    @{Html.RenderPartial("~/Views/Operation/_ShippingDecl.cshtml", Model);}
                </div>
            </div>
        </div>
        
    </section>
</div>

               </div>

    </div>
    
    <div id="footer">
        @{Html.RenderAction("GetPrintFooter", "Home");}
    </div>
    @if(Model.CarrierType== 1)
    {
     <div class="col-sm-12 col-xs-12 form-group">
                            <label class="control-label">Container Details</label>
                            <div class="col-sm-12 col-xs-12">
                                @{Html.RenderPartial("~/Views/Operation/_ContainersDetails.cshtml", ViewBag.QuoteContainers as List<EasyFreight.ViewModel.OperationContainerVm>);}
                            </div> 
                        </div>
    }
</body>
</html>
