@model EasyFreight.ViewModel.TruckingOrderVm


<form id="TruckingForm">

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#"></a>
                <a href="#"></a>
            </div>

            <h2 class="panel-title">Main Information</h2>
        </header>
        <div class="panel-body">
            <div class="col-md-12  form-inline" style="padding-bottom:12px">
                <div class="col-sm-6 form-group">
                    <label class="col-sm-4 control-label">Operation Code</label>
                    <div class="col-sm-8">
                        <span class="text-dark">@Model.OperationCode</span>
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label class="col-sm-4 control-label">Containers</label>
                    <div class="col-sm-8">
                        <span class="text-dark">@ViewBag.ContainerSummary</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12  form-inline">
                <div class="col-sm-6 form-group">
                    <label class="col-sm-4 control-label">Department</label>
                    <div class="col-sm-8">
                        @if(Model.OrderFrom==1)
                    {<span class="text-dark">Export</span>}
                    else
                    {<span class="text-dark">Import</span>}
                    </div>
                </div>

                <div class="col-sm-6 form-group">
                    <label class="col-sm-4 control-label">Booking Number</label>
                    <div class="col-sm-8">
                        <span class="text-dark">@Model.BookingNo</span>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#"></a>
                <a href="#"></a>
            </div>

            <h2 class="panel-title">Trucking Information</h2>
        </header>
        <div class="panel-body">
                        <div class="col-sm-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">Contact Name</label>
                <div class="col-sm-8">
                   <input type="text" class="form-control" name="ContactName" 
                                        id="ContactName" value="@Model.ContactName"  >
                </div>
            </div>
             <div class="col-sm-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">Contact Phone</label>
                <div class="col-sm-8">
                    <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <input type="text" class="form-control"  
                                            name="ContactPhone" value="@Model.ContactPhone">
                                </div>
                </div>
            </div>

            <div class="col-sm-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">From Area<span class="required">*</span></label>
                <div class="col-sm-8">
                    @Html.Partial("~/Views/Shared/_AreaGrouped.cshtml",
                                    ViewData["AreaList"] as List<EasyFreight.ViewModel.CityAreaList>,
                                    new ViewDataDictionary { { "ddlName", "FromAreaId" },
                                    { "selectedVal", Model.FromAreaId },{"required",""} })
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">To Area<span class="required">*</span></label>
                <div class="col-sm-8">
                    @Html.Partial("~/Views/Shared/_AreaGrouped.cshtml",
                                    ViewData["AreaList"] as List<EasyFreight.ViewModel.CityAreaList>,
                                    new ViewDataDictionary { { "ddlName", "ToAreaId" },
                                    { "selectedVal", Model.ToAreaId },{"required","required"}})
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">Client</label>
                <div class="col-sm-8">
                    <span class="text-dark">@ViewBag.ClientName</span>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-2 control-label" for="w4-username">Client Address<span class="required">*</span></label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" name="ShipFromAddress">@Model.ShipFromAddress</textarea>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">Need Arrived Date <span class="required">*</span></label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" data-plugin-datepicker name="NeedArriveDate" required
                               data-date-format="dd/MM/yyyy" class="form-control date"
                               value="@(Model.NeedArriveDate == null ? "" : Model.NeedArriveDate.Value.ToString("dd/MM/yyyy"))"
                                />
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="col-sm-4 control-label" for="w4-username">Need Arrived Time <span class="required">*</span></label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span> 
                        <input id="ArriveTime" name="NeedArriveTime" type="text" class="form-control time24" required
                               value="@Model.NeedArriveTime.ToString()" />

                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer">
            <div id="SaveBtnDiv" class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="button" id="SaveForm" class="btn btn-primary" value="Submit" />
                    <a id="ResetTruckForm" href="javascript:void(0)" class="btn btn-default">Reset</a>
                </div>
            </div>
        </footer>
    </section>

    @Html.Hidden("TruckingOrderId", Model.TruckingOrderId)
    <input type="hidden" name="OperationId" value="@Model.OperationId" />
    <input type="hidden" name="OrderFrom" value="@Model.OrderFrom" />
    <input type="hidden" name="OperationCode" value="@Model.OperationCode" />
    <input type="hidden" name="BookingNo" value="@Model.BookingNo" />
    <input type="hidden" name="ShipperId" value="@Model.ShipperId" />
    <input type="hidden" name="ConsigneeId" value="@Model.ConsigneeId" />
    <input type="hidden" id="FromCityId" name="FromCityId" value="@Model.FromCityId" />
    <input type="hidden" id="ToCityId" name="ToCityId" value="@Model.ToCityId" />
    <input type="hidden" name="StatusId" value="@Model.StatusId" />
    <input type="hidden" name="AssignToUserId" value="1" />
    @Html.Hidden("CreateDate", Model.CreateDate)
    @Html.Hidden("HouseBillId", Model.HouseBillId)
    @Html.Hidden("HouseBL", Model.HouseBL)
    @Html.Hidden("CreateBy", Model.CreateBy)
</form>

@section scripts{

    <script src="@Url.Content("~/Scripts/Trucking/CreateOrder.js")"></script>
}