@model EasyFreight.ViewModel.TruckingOrderDetailVm
@{
    ViewBag.Title = "ManageOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/manageorder-header.css")" />



<header class="page-header">
    <h2>Manage Trucking Order</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Content("~/Home/Index")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Trucking</span></li>
            <li><span>Manage Order</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<section class="panel">
    <header class="panel-heading">
        <div class="row pageHeader">
            <form class="form-horizontal">
                <div class="form-group head">
                    <div class="col-sm-3 inlineUnit">
                        <label class="col-sm-12">Booking Number</label>
                        <div class="col-sm-12">
                            <h3>@Model.BookingNo</h3>
                        </div>
                    </div>
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">Opertation Number</label>
                        <div class="col-sm-12">
                            <h3>@Model.OperationCode</h3>
                        </div>
                    </div>
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">Department</label>
                        <div class="col-sm-12">
                            @if (Model.OrderFrom == 1)
                            {
                                <h3>Export  </h3>
                            }
                            else
                            {
                                <h3>Import </h3>
                            }
                        </div>
                    </div>
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">Carrier</label>
                        <div class="col-sm-12">
                            <h3>@Model.CarrierNameEn</h3>
                        </div>
                    </div>

                    <div class="col-sm-3 inlineUnit">
                        <label class="col-sm-12">Client</label>
                        <div class="col-sm-12">
                            <h4>@Model.ClientName</h4>
                        </div>
                    </div>

                </div>
                <div class="form-group shipDetails">
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">From</label>
                        <div class="col-sm-12">
                            <h3>@Model.FromAreaName</h3>
                        </div>
                    </div>
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">To</label>
                        <div class="col-sm-12">
                            <h3>@Model.ToAreaName</h3>
                        </div>
                    </div>
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">Need Arrive Date</label>
                        <div class="col-sm-12">
                            <h3>@Model.NeedArriveDate.ToString("dd/MM/yyyy")</h3>
                        </div>
                    </div>
                    <div class="col-sm-2 inlineUnit">
                        <label class="col-sm-12">Need Arrive Time</label>
                        <div class="col-sm-12">
                            <h3>
                                @Model.NeedArriveTime.ToString(@"h\:mm")
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-4 inlineUnit">
                        <label class="col-sm-12">Containers</label>
                        <div class="col-sm-12">
                            <h4>@Model.ContainersSummary</h4>
                        </div>
                    </div>

                </div>

               

                <div class="form-group shipDetails">
                   <div class="col-sm-6 inlineUnit">
                        <label class="col-md-4 control-label" for="w4-username">Contact Name</label>
                <div class="col-md-8"><h5>@Model.ContactName</h5></div>
                    </div>
                    <div class="col-sm-6 inlineUnit">
                        <label class="col-sm-4 control-label" for="w4-username">Contact Telephone</label>
                        <div class="col-sm-8"><h5>
                            @Model.ContactPhone</h5>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </header>

    @Html.Hidden("FromAreaId", Model.FromAreaId)
    @Html.Hidden("ToAreaId", Model.ToAreaId)
     @Html.Hidden("FromCityId", Model.FromCityId)
    @Html.Hidden("ToCityId", Model.ToCityId)
    <div class="panel-body">
        <form id="Form1">
            <div class="col-md-12">
                <div class="toggle" data-plugin-toggle>

                    <section class="toggle active">
                        <label>Containers</label>
                        <div class="toggle-content">
                            <div class="table-responsive">
                                @Html.Partial("~/Views/Trucking/_ContainerDetails.cshtml",
                    Model.OperationContainers,
                    new ViewDataDictionary {
                    {"PackageList", ViewBag.PackageList},{"isView",false}
                    })
                            </div>
                        </div>
                    </section>
                    <section class="toggle active">
                        <label>Trucking Details</label>
                        <div class="toggle-content">
                            <div class="form-horizontal form-bordered">
                                <div class="col-sm-12 form-group">
                                    <label class="col-sm-2 control-label" for="w4-username">Trucking Code<span class="required">*</span></label>
                                    <div class="col-sm-4">

                                        <input type="text" class="form-control" name="TruckingOrderCode" readonly
                                               value="@Model.TruckingOrderCode" required>
                                    </div>
                                    @if (Model.TruckingOrderCode.Contains("?"))
                                    {
                                        <a href="javascript:void(0)" title="Number will be generated after submit"><i class="fa fa-info-circle fa-2x"></i></a>
                                    }
                                </div>

                                <div class="col-md-12 form-group">
                                    <label class="col-sm-2 control-label" for="w4-username">Contractor <span class="required">*</span></label>
                                    <div class="col-sm-4 ">
                                        <select id="ddlContractors" data-plugin-selecttwo name="ContractorId"
                                                class="form-control populate" data-placeholder="Select" required>
                                            <option></option>
                                            @foreach (var item in ViewBag.ContractorList)
                                            {
                                                if (item.Key == Model.ContractorId)
                                                {
                                                    <option selected value="@item.Key">@item.Value</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Key">@item.Value</option>}
                                            }
                                        </select>


                                    </div>
                                    <div class="col-md-4 form-group">
                                        <a id="showrates" class="ratesmodal" href="#modalAnim">Show contractors rates</a>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Driver Name </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="DriverName"
                                               value="@Model.DriverName" />
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Driver Cellphone </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="DriverMobile"
                                               value="@Model.DriverMobile" />
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Arrived Date </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" data-plugin-datepicker name="ArriveDate"
                                                   data-date-format="dd/mm/yyyy" class="form-control"
                                                   value="@(Model.ArriveDate == null ? "" : Model.ArriveDate.Value.ToString("dd/MM/yyyy"))"
                                                    />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Arrived Time </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <input id="ArriveTime" name="ArriveTime" type="text" class="form-control time24"
                                                   value="@Model.ArriveTime.ToString()" />

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Leave client Date </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" data-plugin-datepicker name="LeaveDate" id="LeaveDate"
                                                   data-date-format="dd/mm/yyyy" class="form-control"
                                                   value="@(Model.LeaveDate == null ? "" : Model.LeaveDate.Value.ToString("dd/MM/yyyy"))"
                                                     />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Leave client Time </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <input id="leaveTime" name="LeaveTime" type="text" class="form-control time24"
                                                   value="@Model.LeaveTime.ToString()" />

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Loaded Date </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" data-plugin-datepicker name="LoadedDate" id="loadedDate"
                                                   data-date-format="dd/mm/yyyy" class="form-control"
                                                   value="@(Model.LoadedDate == null ? "" : Model.LoadedDate.Value.ToString("dd/MM/yyyy"))"
                                                     />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 control-label" for="w4-username">Loaded Time </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <input id="loadedTime" name="LoadedTime" type="text" class="form-control time24"
                                                   value="@Model.LoadedTime" />

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </section>

                    <section class="toggle active">
                        <label>Trucking Cost</label>
                        <div class="toggle-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="w4-username">Cost Currency  </label>
                                <div class="col-sm-4">
                                    <select id="ddlCostCurrency" class="form-control populate" data-plugin-selecttwo>
                                        @foreach (var item in ViewBag.CurrencyList)
                                        {

                                            if (item.Key == Model.CostCurrencyId)
                                            {
                                                <option selected value="@item.Key">@item.Value</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Key">@item.Value</option>}
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Partial("~/Views/Trucking/_AddTruckingCost.cshtml", Model.TruckingOrderCosts)
                            </div>


                        </div>
                    </section>

                    <section class="toggle active">
                        <label>Notes</label>
                        <div class="toggle-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="w4-username">Notes  </label>
                                <div class="col-sm-8">
                                    <textarea rows="5" class="form-control" name="Notes">@Model.Notes</textarea>
                                </div>

                            </div>
                        </div>
                    </section>
                    <br />
                </div>
            </div>
            <input type="hidden" id="TruckingOrderId" name="TruckingOrderId" value="@Model.TruckingOrderId" />
            <input type="hidden" id="CostCurrencyId" name="CostCurrencyId" value="@Model.CostCurrencyId" />
            <input type="hidden" name="OperationId" value="@Model.OperationId" />
            <input type="hidden" id="StatusId" name="StatusId" value="@Model.StatusId" />
            <input type="hidden" name="AssignToUserId" value="@Model.AssignToUserId" />
            <input type="hidden" name="FollowUpDate" value="@Model.FollowUpDate" />
            <input type="hidden" name="FollowUpBy" value="@Model.FollowUpBy" />


        </form>
    </div>
    <footer class="panel-footer">
        <div id="SaveBtnDiv" class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <button id="SaveForm" class="btn btn-primary">Save</button>
                <button id="SaveExit" class="btn btn-primary">Save & Close Order</button>
                <a id="ResetForm" href="@Url.Content("~/Trucking")" class="btn btn-default">Reset</a>
            </div>
        </div>
    </footer>
</section>

<div id="modalAnim" class="zoom-anim-dialog modal-block-lg modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Contractor Rates</h2>
            <div class="panel-actions">
                <button class="modal-dismiss" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div id="ModalContent" class="modal-text">
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default modal-dismiss">Close</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<div id="modelRoll" class="modal-block modal-header-color modal-block-danger mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to Save&Close this order?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirmRoll" class="btn btn-danger modal-confirmRoll">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>

@section scripts{
    <script src="@Url.Content("~/assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/MasterData/ContactPerson.js")"></script>
    <script src="@Url.Content("~/Scripts/AddCostCommon.js")"></script>
    <script src="@Url.Content("~/Scripts/Trucking/ManageOrders.js")"></script>

}